html {
  height: 100%;
  width: 100%;
}

body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('background2.jpeg');
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  margin-left: 10%;
  margin-right: 10%;

}

.frame {
  background: rgb(255, 255, 255, .8);    /*  70% opaque white */ 
  padding: 5%; 
  background-clip: border-box;
  background-size: cover;
  margin:2%;
  /* height: 85vh; */
  min-height: 100vh;
  min-width: 500px;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  align-content: space-between; 

}

main {
  /* flex: 1; */
  min-width: 500px;
}

hr {
  border-bottom: 3px solid #000000;
  border-radius: 10px;
}

h1{
  /* background: #f8f1f1; 
  width: 200px;
  opacity: 0.7;  */
  color: black;
  /* font-family: "Merienda", cursive; */
  font-family: "Enriqueta", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


p{
  /* font-family: "Rajdhani", sans-serif; */
  /* font-family: "Josefin Slab", serif; */
  /* font-family: "Poiret One", sans-serif; */
  font-family: "News Cycle", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-indent: 2em;
}

h2{
  font-family: "Rajdhani", sans-serif;
  /* font-family: "Josefin Slab", serif; */
  /* font-family: "Poiret One", sans-serif; */
  /* font-family: "News Cycle", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
  text-align:center;
  color: #0c7367;
  
}

h3{
  /* font-family: "Rajdhani", sans-serif; */
  /* font-family: "Josefin Slab", serif; */
  /* font-family: "Poiret One", sans-serif; */
  font-family: "News Cycle", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  text-align:center;
  color: #000000;
}



/* Navigation Bar CSS */
#menu {
  /* background: #ffffff; */
  height: 45px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
  /* font-family: "Rajdhani", sans-serif; */
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 16px;
  margin-top: 0px;

}

#menu ul, #menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
  text-align: center;
}
#menu li {
  display: inline-block;
  position: relative;
}
#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #6E6E6E;
  font-size: 22px;
  text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
  /* content: "\27F1"; */
  content: "\23F7";
  /* color: red; */
  /* content: "\26DB"; */
  margin-left: 5px;
  pointer-events: none;
  /* display: none;
  z-index: -1; */
}
#menu li a:hover {
  color: #000000;
  border-bottom: 3px solid red;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px
}
#menu label:before {
  font-size: 1.6em;
  color: #6E6E6E;
  content: "\2261"; 
  margin-left: 20px;
}
#menu ul.sub-menus{
  height: auto;
  overflow: hidden;
  width: 220px;
  background: #ffffff;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  text-align: left;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #6E6E6E;
  font-size: 22px;
}
#menu li:hover ul.sub-menus {
  display: block
}
#menu ul.sub-menus a:hover{
  background: #ffffff;
  color: #000000;
}
@media screen and (max-width: 828px){

  #menu {position:relative; font-size:30px;padding-top:0px;padding-bottom: 5px;}
  #menu ul {background:#ffffff;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
  #menu ul.sub-menus {width:100%;position:static;}
  #menu ul.sub-menus a {padding-left:30px;}
  #menu li {display:block;float:none;width:auto;}
  #menu input, #menu label {position:absolute;top:0;left:0;display:block}
  #menu input {z-index:4}
  #menu input:checked + label {color:#6E6E6E}
  #menu input:checked + label:before {content:"\00d7"}
  #menu input:checked ~ ul {display:block}
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .frame {
     margin:1%;
     padding: 4%; 
     min-width: 300px;
  }
  
  body{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }

  main {
    min-width: 300px;
  }

  .ulstyle{
    /* padding-left: 0px; */
    margin-left:-20px;
  }
  
}

.footer {
  height: 20px;
  padding: 0px;
  margin:0px;
  text-align: center;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size:16px;
  color: #6E6E6E;
  text-indent: 0em;

}


iframe{
  width:100%;
  min-height: 800px;
}
.styleh2{
  color: #966e87;
  font-size:40px;
}

.styleh2-2{
  color: #648096;
  font-size:40px;
}

.styleh2-3{
  color: #9cb078;
  font-size:40px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.endspace{
height:2%;
}

.caption{
  text-align: center;
  padding-top:0px;
  text-indent: 0em;
}

.ulstyle{
  /* font-family: "Rajdhani", sans-serif; */
  /* font-family: "Josefin Slab", serif; */
  /* font-family: "Poiret One", sans-serif; */
  font-family: "News Cycle", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-left: 80px;
  /* list-style-type: "✦"; */
  list-style-type: "◈    ";
  

}
li::marker {
  color: #7cabd0;
  
}
